#flashMessage{
    background-color: darkblue;
	color: white;
	border : 1px solid black;
	padding: 5px;
}

.form-error{
	border : 1px solid blue;
}
.error-message{
	background-color: darkblue;
	color: white;
	border : 1px solid black;
	margin-bottom:10px;
	width:100%;
}/* CSS Document */
body{margin:0px; font-size:0.9em; background:#f6f6f6; color:#333333; font-family:calibri}
#container{ width:90%; height:auto; margin:0 auto;}
#container-in{ width:100%; height:auto; float:left; background:#ffffff; box-shadow:0 0 20px #666;}
#header{ width:100%; height:auto; min-height:70px; float:left; text-align:center; border-top:5px solid #999999;}
#header h3{}
#menu-nav{ width:100%; height:auto; float:left; min-height:40px; background:#23B6E5 url(../images/menu.jpg) repeat-x;}
/*.menu{width:auto; height:auto; float:left; padding:11px 15px; border-right:1px solid #73D3F2; color:#ffffff; text-decoration:none; font-size:1.1em; }
.menu:hover{ background:#999999; color:#ffffff;}*/
#body{ width:98%; height:auto; float:left; padding:1%;}
.data-display{ width:100%; height:auto; float:left; padding:10px 0;}
.display-records{ width:98%; height:auto; min-height:200px; max-height:200px; overflow-x:visible; float:left; padding:1%; background:#EEEDED; box-shadow:0 0 20px #ccc inset; margin:5px 0;}
.display-records table{border:1px solid #ccc; border-collapse:collapse; }
.display-records table th{border:1px solid #F5A240; background:#FDDEBA; color:#333; font-weight:bold; padding:3px; border-bottom:5px solid #F5A240;}
.display-records table tr td{border:1px solid #ccc; color:#666; padding:3px;}
.display-records table tr td a{}
.buttons-container{ width:100%; margin:5px 0; height:auto; float:left; text-align:right;}
.navigation{ width:100%; margin:5px 0; height:auto; float:left;}
.navi{ padding:5px 10px; width:auto; height:auto; float:right; background:#eeeeee; border:1px solid #666; -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; color:#333; text-decoration:none; margin:5px;}
.navi:hover{ background:url(../images/menu.jpg) repeat-x; color:#fff; border:1px solid #016484;}
.naviactive{padding:5px 10px; width:auto; height:auto; float:right; background:#ffffff; border:1px solid #cccccc; -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; color:#F5A240; text-decoration:none;margin:5px;}
.blue{ color:#1395C0; font-weight:bold;}
.orange{ color:#F5A240; font-weight:bold;}

input[type=submit] 
{
	
	border:1px solid #666666;
	box-shadow:0 0 20px #999 inset;
	 display:inline;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
	 min-height:25px; height:30px; min-width:100px;
    margin:3px;
    border-radius:5px; cursor:pointer
}
input[type=button] 
{
	
	border:1px solid #666666;
	box-shadow:0 0 20px #999 inset;
	 display:inline;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
	 min-height:25px; height:30px; min-width:100px;
    margin:3px;
    border-radius:5px; cursor:pointer
}


input[type=text] 
{
	
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	 display:inline;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
	 height:20px;
    margin:3px;
    border-radius:5px; width:90%;
}
input[type=password] 
{
	
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	 display:inline;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
	 height:20px;
    margin:3px;
    border-radius:5px; width:90%;
}
.text{	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	 display:inline;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
	 height:25px;
     margin:3px;
    border-radius:5px; width:90%;
}
select{background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	 display:inline;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
	 height:25px;
    margin:3px;
    border-radius:5px; width:90%;}
input .text
{
	
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	 display:inline;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
	 height:25px;
    margin:3px;
    border-radius:5px; width:90%;
}

