/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);*/
/*@charset "UTF-8";*/
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 14px;
  position: relative;
}

#cssmenu a 
{
  line-height: 1.3;
}

#cssmenu {
//  width: 220px;
  background:#FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
#cssmenu > ul > li {
  margin: 0 0 1px 0;
}
#cssmenu > ul > li:last-child {
  margin: 0;
  border-bottom:none;
}
#cssmenu > ul > li > a {
  font-size: 15px;
  display: block;

/*background: #c2f3fc;
background: -moz-linear-gradient(top,  #c2f3fc 0%, #58ddf5 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2f3fc), color-stop(100%,#58ddf5)); 
background: -webkit-linear-gradient(top,  #c2f3fc 0%,#58ddf5 100%);
background: -o-linear-gradient(top,  #c2f3fc 0%,#58ddf5 100%); 
background: -ms-linear-gradient(top,  #c2f3fc 0%,#58ddf5 100%); 
background: linear-gradient(to bottom,  #c2f3fc 0%,#58ddf5 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2f3fc', endColorstr='#58ddf5',GradientType=0 ); 
color: #0C6171;
border: solid 1px rgb(79, 214, 239);

*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#138aa0+0,1d9cb3+100 */
background: #138aa0; /* Old browsers */
background: -moz-linear-gradient(top,  #138aa0 0%, #1d9cb3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#138aa0), color-stop(100%,#1d9cb3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #138aa0 0%,#1d9cb3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #138aa0 0%,#1d9cb3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #138aa0 0%,#1d9cb3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #138aa0 0%,#1d9cb3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#138aa0', endColorstr='#1d9cb3',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 color: #FFFFFF;
 border: solid 1px rgb(7, 106, 126);
}

#cssmenu > ul > li > a > span {
  display: block;
 /* border: 1px solid #59ADD8;*/
  padding: 6px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size:14px;

}


#cssmenu > ul > li>a:hover
{
  border-bottom: none;
  background: #FFECAB;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(227, 193, 47);
  box-shadow: inset 1px 1px 5px rgba(245, 215, 87, 1);
}

#cssmenu > ul > li.active > a 
{
/*background: #358d9c; 
background: -moz-linear-gradient(top,  #358d9c 0%, #227785 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#358d9c), color-stop(100%,#227785)); 
background: -webkit-linear-gradient(top,  #358d9c 0%,#227785 100%);
background: -o-linear-gradient(top,  #358d9c 0%,#227785 100%); 
background: -ms-linear-gradient(top,  #358d9c 0%,#227785 100%); 
background: linear-gradient(to bottom,  #358d9c 0%,#227785 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358d9c', endColorstr='#227785',GradientType=0 ); */

  background: #FFECAB;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(227, 193, 47);
  box-shadow: inset 1px 1px 5px rgba(245, 215, 87, 1);
}
   

#cssmenu > ul > li.active > a span {
 /* border: 1px solid #97be10;*/
}
#cssmenu > ul > li.has-sub > a span {
  background:url("../img/icon_plus.png") 98% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url("../img/icon_minus.png") 98% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
 /* padding: 5px 12px;*/
  display: none;
}
#cssmenu ul ul li
 {
  padding: 5px 0px;
  border-bottom: dashed 1px rgb(92, 176, 219);
}

#cssmenu ul ul a 
{
  display: block;
  font-size: 13px;
  color:rgb(13,57,87);
  padding-left:20px;
 }
#cssmenu ul ul a:hover {
  color: #2184B6;
  text-decoration:underline;
}

.single
{
	border-bottom-width: 0px;
	border-bottom-style: none;
}

#cssmenu ul ul a:hover
{
    background-color: #C7F8FF;
   background: #7cefff; /* Old browsers */
   background: -moz-linear-gradient(top,  #7cefff 0%, #c9f6fc 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cefff), color-stop(100%,#c9f6fc)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #7cefff 0%,#c9f6fc 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cefff', endColorstr='#c9f6fc',GradientType=0 ); /* IE6-9 */
   color: rgb(10, 106, 124);
   line-height: 25px;
   padding-left: 20px;
   cursor:pointer;
  }
  #cssmenu .myclass
  {
   background-color: #C7F8FF;
   background: #7cefff; /* Old browsers */
   background: -moz-linear-gradient(top,  #7cefff 0%, #c9f6fc 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cefff), color-stop(100%,#c9f6fc)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #7cefff 0%,#c9f6fc 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cefff', endColorstr='#c9f6fc',GradientType=0 ); /* IE6-9 */
   color: rgb(10, 106, 124);
   line-height: 25px;
   padding-left: 20px;
   cursor:pointer;
  }
  
  .mainlink
  {
	  background-color:red !important;
  }
  
  #top
  {
	 border: solid 3px #3E96A5;
     border-radius: 10px;
	 margin-bottom:5px;
  }
  
  #bottom
  {
     border: solid 3px #3BDBEF;
     border-radius: 10px;
  }
  /*----------------------------------------------End of code-------------------------------------------------------------------*/
 /*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);*/
/*@charset "UTF-8";*/
/* Base Styles */
#cssmenu1,
#cssmenu1 ul,
#cssmenu1 li,
#cssmenu1 a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 14px;
  position: relative;
}

#cssmenu1 a 
{
  line-height: 1.3;
}

#cssmenu1 {
  /* width: 220px;*/
  background:#FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
#cssmenu1 > ul > li {
  margin: 0 0 1px 0;
}
#cssmenu1 > ul > li:last-child {
  margin: 0;
  border-bottom:none;
}
#cssmenu1 > ul > li > a {
  font-size: 15px;
  display: block;

//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffda6b+0,ffecab+100 */
background: rgb(255,218,107); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,218,107,1) 0%, rgba(255,236,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,218,107,1)), color-stop(100%,rgba(255,236,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,218,107,1) 0%,rgba(255,236,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,218,107,1) 0%,rgba(255,236,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,218,107,1) 0%,rgba(255,236,171,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,218,107,1) 0%,rgba(255,236,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda6b', endColorstr='#ffecab',GradientType=0 ); /* IE6-9 */

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
 border-radius: 4px;
 color:#3F3E3E;
 border: solid 1px #F9D054;
}

#cssmenu1 > ul > li > a > span {
  display: block;
 /* border: 1px solid #59ADD8;*/
  padding: 6px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size:14px;

}


#cssmenu1 > ul > li>a:hover
{
  border-bottom: none;
  background: #138aa0;
  color:#fff;
  border: solid 1px #138aa0;
  box-shadow: inset 1px 1px 5px #138aa0;
}

#cssmenu1 > ul > li.active > a 
{
/*background: #358d9c; 
background: -moz-linear-gradient(top,  #358d9c 0%, #227785 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#358d9c), color-stop(100%,#227785)); 
background: -webkit-linear-gradient(top,  #358d9c 0%,#227785 100%);
background: -o-linear-gradient(top,  #358d9c 0%,#227785 100%); 
background: -ms-linear-gradient(top,  #358d9c 0%,#227785 100%); 
background: linear-gradient(to bottom,  #358d9c 0%,#227785 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#358d9c', endColorstr='#227785',GradientType=0 ); */

  background: #138aa0;
  color:#fff;
  border: solid 1px #138aa0;
  box-shadow: inset 1px 1px 5px #138aa0;
}
   

#cssmenu1 > ul > li.active > a span {
 /* border: 1px solid #97be10;*/
}
#cssmenu1 > ul > li.has-sub > a span {
  background:url("../img/icon_plus.png") 98% center no-repeat;
}
#cssmenu1 > ul > li.has-sub.active > a span {
  background: url("../img/icon_minus.png") 98% center no-repeat;
}
/* Sub menu */
#cssmenu1 ul ul {
 /* padding: 5px 12px;*/
  display: none;
}
#cssmenu1 ul ul li
 {
  padding: 5px 0px;
  border-bottom: dashed 1px rgb(92, 176, 219);
}

#cssmenu1 ul ul a 
{
  display: block;
  font-size: 13px;
  color:rgb(13,57,87);
  padding-left:20px;
}

#cssmenu1 ul ul a:hover {
  color: #2184B6;
  text-decoration:underline;
}

.single
{
	border-bottom-width: 0px;
	border-bottom-style: none;
}

#cssmenu1 ul ul a:hover
{
   background-color: #C7F8FF;
   background: #7cefff; /* Old browsers */
   background: -moz-linear-gradient(top,  #7cefff 0%, #c9f6fc 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cefff), color-stop(100%,#c9f6fc)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #7cefff 0%,#c9f6fc 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cefff', endColorstr='#c9f6fc',GradientType=0 ); /* IE6-9 */
   color: rgb(10, 106, 124);
   line-height: 25px;
   padding-left: 20px;
   cursor:pointer;
  }
  #cssmenu1 .myclass
  {
   background-color: #C7F8FF;
   background: #7cefff; /* Old browsers */
   background: -moz-linear-gradient(top,  #7cefff 0%, #c9f6fc 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cefff), color-stop(100%,#c9f6fc)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #7cefff 0%,#c9f6fc 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #7cefff 0%,#c9f6fc 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cefff', endColorstr='#c9f6fc',GradientType=0 ); /* IE6-9 */
   color: rgb(10, 106, 124);
   line-height: 25px;
   padding-left: 20px;
   cursor:pointer;
  }
